<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nzcer.findgithubdeveloper.mapper.GitHubUserMapper">

    <resultMap id="BaseResultMap" type="cn.nzcer.findgithubdeveloper.entity.GitHubUser">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="login" column="login" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="company" column="company" jdbcType="VARCHAR"/>
        <result property="blog" column="blog" jdbcType="VARCHAR"/>
        <result property="bio" column="bio" jdbcType="VARCHAR"/>
        <result property="publicRepos" column="public_repos" jdbcType="INTEGER"/>
        <result property="followers" column="followers" jdbcType="INTEGER"/>
        <result property="following" column="following" jdbcType="INTEGER"/>
        <result property="recordTime" column="record_time" jdbcType="TIMESTAMP"/>
        <result property="location" column="location" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectByLogin" resultMap="BaseResultMap">
        SELECT *
        FROM github_user
        WHERE login like #{login}
    </select>

    <select id="queryByCondition" resultType="cn.nzcer.findgithubdeveloper.entity.GitHubUser"
            parameterType="cn.nzcer.findgithubdeveloper.bo.QueryConditionBO">
        SELECT * FROM user_info WHERE 1=1
        <if test="name != null">
            AND name like CONCAT('%',#{name},'%')
        </if>
        <if test="company!= null and company!=''">
            AND company like CONCAT('%',#{company},'%')
        </if>
        <if test="blogStatus!= null and blogStatus.getMessage() == 'NOT_EXIST'">
            AND blog_status = NULL
        </if>
        <if test="blogStatus!= null and blogStatus.getMessage() == 'EXIST'">
            AND blog_status != NULL
        </if>
        <if test="location!= null and location!=''">
            AND location like CONCAT('%', #{location},'%')
        </if>
        <if test="minFollowers!= null">
            AND followers >= #{minFollowers}
        </if>
        <if test="maxFollowers!= null">
            AND followers &lt;= #{maxFollowers}
        </if>
        <if test="minFollowings!= null">
            AND following >= #{minFollowings}
        </if>
        <if test="maxFollowings!= null">
            AND following &lt;= #{maxFollowings}
        </if>
        <if test="minRepos!= null">
            AND public_repos >= #{minRepos}
        </if>
        <if test="maxRepos!= null">
            AND public_repos &lt;= #{maxRepos}
        </if>
        <if test="minCreatedAt!= null">
            AND created_at >= #{minCreatedAt}
        </if>
        <if test="maxCreatedAt!= null">
            AND created_at &lt;= #{maxCreatedAt}
        </if>
    </select>

</mapper>
